@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}

.outer-container {
    border: 3px dashed #000;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
}

.inner-container {
    border: 2px solid #0000ff;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
}

.box {
    width: 150px;
    height: 150px;
    color: #fff;
    padding: 1rem;
}

/*-----------------------------------------------------*/

html {
    scroll-behavior: smooth;
}

.social {
    background-color: #3636a1;
    position: fixed;
    left: 0;
    z-index: 1;
    top: 35%;
    padding: 1rem;
    border: none;
    border-radius: 25%;
    font-size: inherit;
}

section {
    height: 100vh;
}

.blue{ background-color: #0000ff;}
.red{ background-color: #ff0000;}
.green{ background-color: #008000;}

header, footer {
    color: #fff;
    text-align: center;
    height: 100px;
}

header {
    font-size: 5rem;
    position: sticky;
    top: 0;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: #1f1b1b;
    width: 100%;
    font-size: 3rem;
}

a:visited {
    color: #fff;
}
